/* 

Font size (quote): 28px

*/
:root {
  --cyan-light: hsl(193, 38%, 86%);
  --green-neon: hsl(150, 100%, 66%);
  --blue-gry: hsl(217, 19%, 38%);
  --blue-drk-gry: hsl(217, 19%, 24%);
  --blue-drk: hsl(218, 23%, 16%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2.8rem;
  height: 90vh;
  font-family: "Manrope", sans-serif;
  background-color: var(--blue-drk);
}

.container {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  /* margin: 0 auto; */
  background-color: var(--blue-drk-gry);
  border-radius: 2rem;
  z-index: -10;
}

.main-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  gap: 3rem;
}

.sub {
  color: var(--green-neon);
  font-size: 1.1rem;
  letter-spacing: 0.346rem;
}

.primary-heading {
  color: var(--cyan-light);
  font-size: 2.4rem;
  text-align: center;
  width: 83%;
}

.dice-box {
  position: relative;
}

.circle {
  background-color: var(--green-neon);
  border-radius: 50%;
  width: 6.4rem;
  height: 6.4rem;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-45%, 120%);
  z-index: -1;
}

.dice {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-40%, 240%);
  z-index: 999;
}
