/* 

Font size (quote): 28px

*/
:root {
  --cyan-light: hsl(193, 38%, 86%);
  --green-neon: hsl(150, 100%, 66%);
  --blue-gry: hsl(217, 19%, 38%);
  --blue-drk-gry: hsl(217, 19%, 24%);
  --blue-drk: hsl(218, 23%, 16%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2.8rem;
  font-family: "Manrope", sans-serif;
  background-color: var(--blue-drk);
}

.container {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  width: 95%;
  margin: 0 auto;
  background-color: var(--blue-drk-gry);
}

.main-content {
  display: flex;
  flex-direction: column;
}

.sub {
  color: var(--green-neon);
}

.primary-heading {
  color: var(--cyan-light);
}
